{% extends "app/base/base.html" %}
{% block title %}Sales Order{% endblock %}
{% block header %}Sales Order{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Products<p>
            </div>
            <div class="card-body">
                {%- for catagory, inv in inventory | groupby('catagory') %}
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>{{catagory}}</th>
                        </tr>
                    </thead>
                    {%- for inv in inventory|batch(4) %}
                    <tr>
                        {%- for item in inv %}
                        {% if item.catagory == catagory %}
                        <td>
                            <form method="post" action="{{url_for('sales.add_item', receipt=receipt, itemid=item.id)}}">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-block btn-lg text-center btn-success">
                                        {{item.project_name}}<br>
                                        <small>{{"$%.2f"%item.sale_price}}</small>
                                    </button>
                                </div>
                            </form>
                        </td>
                        {% endif %}
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </table>
                {%- endfor %}
            </div><br>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Receipt<p>
            </div>
            <div class="card-body">
                <form action="{{url_for('sales.finalize_transaction', receipt=receipt)}}" method="POST">
                    <div class="row">
                        <div class="col">
                            {% for dic in receipt %}
                            {% if loop.first %}
                            Receipt Number: {{dic['data']['receiptnum']}}<br>
                            Date/Time: {{dic['data']['dt']}}<br>
                            Employee: {{dic['data']['employee']}}<br>
                            {% endif %}
                            {% endfor %}
                            <hr>
                            <table>
                                {%- for row in items|batch(3, '&nbsp;') %}
                                <tr>
                                    {%- for column in row %}
                                    <td>{{ column }}</td>
                                    {%- endfor %}
                                </tr>
                                {%- endfor %}
                            </table>

                            <table width="100%" class="table table-striped table-hover table-success">
                                <thead>
                                    <tr>
                                        <th width="60%" class="text-start">Item</th>
                                        <th width="20%" class="text-start">Quantity</th>
                                        <th width="20%" class="text-end">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if numdic != 0 %}
                                    {% for dict in receipt %}
                                    {% if loop.index > 1 %}
                                    <tr>
                                        <td width="90%" class="text-start">{{dict[loop.index-1]['item']}}</td>
                                        <td width="20%" class="text-start">{{dict[loop.index-1]['qty']}}</td>
                                        <td width="20%" class="text-end">{{"$%.2f" % dict[loop.index-1]['price']}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>{{"$%.2f" % total}}</th>
                                    </tr>
                                </tfoot>
                                {% endif %}
                            </table>
                            <div>
                                <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="card-tab" data-bs-toggle="tab"
                                            data-bs-target="#card" type="button" role="tab" aria-controls="card"
                                            aria-selected="false">Card</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="cash-account-tab" data-bs-toggle="tab"
                                            data-bs-target="#cash-account" type="button" role="tab"
                                            aria-controls="cash-account" aria-selected="true">Cash/Account</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade" id="cash-account" role="tabpanel"
                                        aria-labelledby="cash-account-tab">
                                        Cash and Account
                                        <div class="d-grid gap-2 row mx-auto">
                                            <input type="submit" class="btn-lg btn-block btn-success btn-hover"
                                                name="cashbtn" id="cashbtn" value="Cash">
                                            <input type="submit" disabled class="btn-lg btn-block btn-success btn-hover"
                                                name="accountbtn" id="accountbtn" value="Account">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="card" role="tabpanel"
                                        aria-labelledby="card-tab">
                                        Card
                                        <input type="text" name="name" id="name" class="form form-control"
                                            placeholder="Enter Name of Customer">
                                        <input type="email" name="email" id="email" class="form form-control"
                                            placeholder="Enter email">
                                        <input type="text" name="postalcode" id="postalcode" class="form form-control"
                                            placeholder="Enter Postalcode">
                                        <div class="d-grid gap-2 row mx-auto">
                                            <form id="payment-form">
                                                <div id="card-container"></div>
                                                <button id="card-button" type="button">Pay $1.00</button>
                                            </form>
                                            <div id="payment-status-container"></div>
                                            <input type="submit" class="btn-lg btn-block btn-success btn-hover"
                                                name="cardbtn" id="cardbtn" value="Card">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 row mx-auto">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block payment_script %}
<link href="{{url_for('static', filename='app/css/app.css')}}" rel="stylesheet" />
<script type="text/javascript" src="https://sandbox.web.squarecdn.com/v2/square.js"></script>
<script>
    const appId = 'sandbox-sq0idb-ZyPc82gk7omgu9deVt5HrA';
    const locationId = 'L2832HX1VJ45V';

    async function initializeCard(payments) {
        const card = await payments.card();
        await card.attach('#card-container');

        return card;
    }

    async function createPayment(token) {
        const body = JSON.stringify({
            locationId,
            sourceId: token,
        });

        const paymentResponse = await fetch('/payment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body,
        });

        if (paymentResponse.ok) {
            return paymentResponse.json();
        }

        const errorBody = await paymentResponse.text();
        throw new Error(errorBody);
    }

    async function tokenize(paymentMethod) {
        const tokenResult = await paymentMethod.tokenize();
        if (tokenResult.status === 'OK') {
            return tokenResult.token;
        } else {
            let errorMessage = `Tokenization failed with status: ${tokenResult.status}`;
            if (tokenResult.errors) {
                errorMessage += ` and errors: ${JSON.stringify(
            tokenResult.errors
          )}`;
            }

            throw new Error(errorMessage);
        }
    }

    // status is either SUCCESS or FAILURE;
    function displayPaymentResults(status) {
        const statusContainer = document.getElementById(
            'payment-status-container'
        );
        if (status === 'SUCCESS') {
            statusContainer.classList.remove('is-failure');
            statusContainer.classList.add('is-success');
        } else {
            statusContainer.classList.remove('is-success');
            statusContainer.classList.add('is-failure');
        }

        statusContainer.style.visibility = 'visible';
    }

    document.addEventListener('DOMContentLoaded', async function () {
        if (!window.Square) {
            throw new Error('Square.js failed to load properly');
        }

        let payments;
        try {
            payments = window.Square.payments(appId, locationId);
        } catch {
            const statusContainer = document.getElementById(
                'payment-status-container'
            );
            statusContainer.className = 'missing-credentials';
            statusContainer.style.visibility = 'visible';
            return;
        }

        let card;
        try {
            card = await initializeCard(payments);
        } catch (e) {
            console.error('Initializing Card failed', e);
            return;
        }

        // Checkpoint 2.
        async function handlePaymentMethodSubmission(event, paymentMethod) {
            event.preventDefault();

            try {
                // disable the submit button as we await tokenization and make a payment request.
                cardButton.disabled = true;
                const token = await tokenize(paymentMethod);
                const paymentResults = await createPayment(token);
                displayPaymentResults('SUCCESS');

                console.debug('Payment Success', paymentResults);
            } catch (e) {
                cardButton.disabled = false;
                displayPaymentResults('FAILURE');
                console.error(e.message);
            }
        }

        const cardButton = document.getElementById('card-button');
        cardButton.addEventListener('click', async function (event) {
            await handlePaymentMethodSubmission(event, card);
        });
    });
</script>
{% endblock %}