{% extends "app/base/base.html" %}
{% block title %}Sales Order{% endblock %}
{% block header %}Sales Order{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-7 col">
        <div class="card shadow mb-3">
            <div class="card-body">
                <div class="container">
                    {%- for catagory, inv in inventory | groupby('catagory') %}
                    <div class="row">
                        <div class="col-12 mb-3 ">
                            <h3 class="fw-bolder">{{catagory|upper()}}</h3>
                        </div>
                    </div>
                    <div class="row row-cols-2 gx-3">
                        {% for item in inv %}
                        {% if item.catagory == catagory %}
                        <div class="col">
                            <div>
                                <form method="post"
                                    action="{{url_for('sales.add_item', receipt=receipt, itemid=item.id)}}">
                                    <button class="btn btn-lg btn-success" style="width: 100%; height:95px;">
                                        <b>{{item.project_name|truncate(25)|replace(catagory, "")}}</b><br>
                                        <small>{{"$%.2f"%item.sale_price}}</small>
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col">
        <div class="card shadow mb-3">
            <div class="card-body">
                <form action="{{url_for('sales.finalize_transaction', receipt=receipt)}}" method="POST">
                    <div class="row">
                        <div class="col">
                            {% for dic in receipt %}
                            {% if loop.first %}
                            Receipt Number: {{dic['data']['receiptnum']}}<br>
                            Date/Time: {{dic['data']['dt']}}<br>
                            Employee: {{dic['data']['employee']}}<br>
                            {% endif %}
                            {% endfor %}
                            <hr>
                            <table width="100%" class="table table-striped table-hover table-success">
                                <thead>
                                    <tr>
                                        <th width="60%" class="text-start">Item</th>
                                        <th width="20%" class="text-start">Quantity</th>
                                        <th width="20%" class="text-end">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if numdic != 0 %}
                                    {% for dict in receipt %}
                                    {% if loop.index > 1 %}
                                    <tr>
                                        <td width="90%" class="text-start">{{dict[loop.index-1]['item']}}</td>
                                        <td width="20%" class="text-start">{{dict[loop.index-1]['qty']}}</td>
                                        <td width="20%" class="text-end">{{"$%.2f" % dict[loop.index-1]['price']}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>{{"$%.2f" % total}}</th>
                                    </tr>
                                </tfoot>
                                {% endif %}
                            </table>
                            <div>
                                <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="card-tab" data-bs-toggle="tab"
                                            data-bs-target="#card" type="button" role="tab" aria-controls="card"
                                            aria-selected="false">Card</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="cash-account-tab" data-bs-toggle="tab"
                                            data-bs-target="#cash-account" type="button" role="tab"
                                            aria-controls="cash-account" aria-selected="true">Cash/Account</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade" id="cash-account" role="tabpanel"
                                        aria-labelledby="cash-account-tab">
                                        Cash and Account
                                        <div class="d-grid gap-2 row mx-auto">
                                            <input type="submit" class="btn-lg btn-block btn-success btn-hover"
                                                name="cashbtn" id="cashbtn" value="Cash">
                                            <input type="submit" disabled class="btn-lg btn-block btn-success btn-hover"
                                                name="accountbtn" id="accountbtn" value="Account">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="card" role="tabpanel"
                                        aria-labelledby="card-tab">
                                        Card
                                        <input type="text" name="name" id="name" class="form form-control"
                                            placeholder="Enter Name of Customer">
                                        <input type="email" name="email" id="email" class="form form-control"
                                            placeholder="Enter email">
                                        <input type="text" name="postalcode" id="postalcode" class="form form-control"
                                            placeholder="Enter Postalcode">

                                        <input type="submit" class="btn-lg btn-block btn-success btn-hover"
                                            name="cardbtn" id="cardbtn" value="Card">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_code %}
<script type="text/javascript" src="{{url_for('static', filename='/app/js/square/sq-ach.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/app/js/square/sq-apple-pay.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/app/js/square/sq-google-pay.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/app/js/square/sq-card-pay.js')}}"></script>
{% endblock %}

{% block payment_script %}
<script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>

<script type="application/javascript">
    window.applicationId = 'sandbox-sq0idb-ZyPc82gk7omgu9deVt5HrA';
    window.locationId = 'LFW60HSSTRBJ5';
    window.currency = 'USD';
    window.country = 'US';
</script>
<!-- link to the custom styles for Web SDK -->
<link rel='stylesheet' , href="{{url_for('static', filename='/app/css/sq-payment.css')}}" />
<link rel='stylesheet' , href="{{url_for('static', filename='/app/css/style.css')}}" />
{% endblock %}