

                                <form class="payment-form" id="fast-checkout">
                                    <div class="wrapper">
                                        <div class="d-grid gap-2 row mx-auto">
                                            <form id="payment-form">
                                                <div id="card-container"></div>
                                                <button id="card-button" type="button">Pay $1.00</button>
                                            </form>
                                            <div id="payment-status-container"></div>
                                        </div>
                                    </div>
                                </form>