{% extends "base/index.html" %}

<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}Profile{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Submenus go here -->
{% block submenu %}
{% endblock %}

<!-- Main Content -->
{% block content %}
<h4 class="display-4 text-center">Profile for {{usr.firstname}} {{usr.lastname}}</h4>
<form method=POST enctype=multipart/form-data action="{{url_for('base.profile')}}">
    {{ form.csrf_token }}
    <fieldset class="form-field row">
        <div class="col-md-6">
            {{ form.email.label(class="form-label" )}}
            {{ form.email(class="form-control form-control-lg" )}}
        </div>
        <div class="col-md-6">
            {{ form.username.label(class="form-label" )}}
            {{ form.username(class="form-control form-control-lg" )}}
        </div>
        <div class="col-md-6">
            {{ form.fname.label(class="form-label" )}}
            {{ form.fname(class="form-control form-control" )}}
        </div>
        <div class="col-md-6">
            {{ form.lname.label(class="form-label" )}}
            {{ form.lname(class="form-control form-control" )}}
        </div>
        <div class="col-md-12">
            {{ form.address.label(class="form-label" )}}
            {{ form.address(class="form-control" )}}
        </div>
        <div class="col-md-6">
            {{ form.city.label(class="form-label" )}}
            {{ form.city(class="form-control" )}}
        </div>
        <div class="col-md-3">
            {{ form.state.label(class="form-label" )}}
            {{ form.state(class="form-control" )}}
        </div>
        <div class="col-md-3">
            {{ form.zipcode.label(class="form-label" )}}
            {{ form.zipcode(class="form-control" )}}
        </div>
        <div class="col-md-4">
            {{ form.phone.label(class="form-label" )}}
            {{ form.phone(class="form-control" )}}
        </div>
        <div class="col-md-4">
            {{ form.email.label(class="form-label" )}}
            {{ form.email(class="form-control" )}}
        </div>
        <div class="col-md-4">
            {{ form.dob.label(class="form-label" )}}
            {{ form.dob(class="form-control" )}}
        </div>
        <div class="col-md-4">
            {{ form.submit }}
        </div>
    </fieldset>
</form>
{% endblock %}

<!-- Scripts needed for this page -->
{% block scripts %}
{% endblock %}