{% extends "app/base/base.html" %}
{% block title %}Projects{% endblock %}
{% block header %}
    OPEN ORDERS
{% endblock %}
{% block content %}
<table id="openorders" class="table table-striped">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Customer</th>
            <th>Filament</th>
            <th>Printer</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>
                <a href="{{url_for('project.projectdetails', id=project.id)}}">
                    {{project.project_name}}
                </a>
            </td>
            <td>{{project.customer_rel.fname}} {{project.customer_rel.lname}}</td>
            <td>{{project.filament_rel.name}} - {{project.filament_rel.color}}({{project.filament_rel.diameter}})</td>
            <td>{{project.printer_rel.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Project Name</th>
            <th rowspan="1" colspan="1">Customer</th>
            <th rowspan="1" colspan="1">Filament</th>
            <th rowspan="1" colspan="1">Printer</th>

        </tr>
    </tfoot>
</table>
{% endblock %}

{% block js_code %}
<script>
    $(document).ready(function () {
        $('#openorders').DataTable({
            colReorder: true,
            responsive: true,
            columns: [{
                    searchable: true
                },
                {
                    orderable: true,
                    searchable: true
                },
                {
                    orderable: true,
                    searchable: true
                },
                {
                    orderable: true,
                    searchable: true
                },
            ],
        });
    });
</script>
{% endblock %}