{% extends "app/base/base.html" %}

{% block title %}Details for {{project.project_name}} {% endblock %}

{% block header %}
{{project.project_name|truncate(25, True, '...', 0)|upper}} - <span class="display-6">{{project.ordernum}}</span>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row row-cols-3">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header bg-success opacity-75 text-black">
                    Customer Information
                </div>
                <div class="card-body">
                    {{project.customer_rel.fname}} {{project.customer_rel.lname}}</br>
                    {{project.customer_rel.mainaddress_rel.address}}</br>
                    {{project.customer_rel.mainaddress_rel.city}}, {{project.customer_rel.mainaddress_rel.state}}
                    {{project.customer_rel.mainaddress_rel.postalcode}}</br>
                    {{project.customer_rel.phone}}</br>
                    {{project.customer_rel.email}}</br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header bg-success opacity-75 text-black">
                    Shipping Information
                </div>
                <div class="card-body">
                    {{project.customer_rel.shippingaddress_rel.fname}}
                    {{project.customer_rel.shippingaddress_rel.lname}}</br>
                    {{project.customer_rel.shippingaddress_rel.address}}</br>
                    {{project.customer_rel.shippingaddress_rel.city}},
                    {{project.customer_rel.shippingaddress_rel.state}}
                    {{project.customer_rel.shippingaddress_rel.postalcode}}</br>
                    </br>
                    </br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header bg-success opacity-75 text-black">
                    Order Information
                </div>
                <div class="card-body">
                    <b>Order Number:</b> {{project.ordernum}}</br>
                    <b>Date Created:</b> {{project.time_created.strftime('%b %d, %Y')}}</br>
                    <b>Time Created:</b> {{project.time_created.strftime('%-I:%m %p')}}</br>
                    <b>Employee:</b> {{project.employee_rel.fname}} {{project.employee_rel.lname}}</br>
                    <b>Tracking:</b> {{project.tracking}}</br>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card shadow mb-3" id="OrderDets">
                <div class="card-body">
                    <table class="table table-striped" width="100%" id="orderdetails">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th class="text-end">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <th colspan="5" class="table table-success">File {{loop.index}}</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>File</td>
                                <td>
                                    {{file["filename"]}}<br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Items per print</td>
                                <td></td>
                                <td>{{file["qtyperprint"]}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Printer</td>
                                <td>{{file["printer"]}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Filament</td>
                                <td>{{file["filament_type"]}} - {{file["filament_diameter"]}}</td>
                                <td>{{"%.1f"|format((file["weight_kg"] * 1000) / file["qtyperprint"])}}g</td>
                                <td class="text-end">{{"$%.2f"|format(file["filcost"] / file["qtyperprint"])}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Print Time</td>
                                <td>Cost of Electricity</td>
                                <td>{{"%.2f"|format(file["print_time"] / file["qtyperprint"])}} hours</td>
                                <td class="text-end">{{"$%.2f"|format(file["timecost"] / file["qtyperprint"])}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="5" class="table table-success">Misc Fees</th>
                            </tr>
                            {% if 1==2 %}
                            <tr>
                                <td></td>
                                <td>Design</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endif %}
                            {% if project.advertising %}
                            <tr>
                                <td></td>
                                <td>Advertising</td>
                                <td></td>
                                <td></td>
                                <td class="text-end">{{"$%.2f"|format(project.advertising)}}</td>
                            </tr>
                            {% endif %}
                            {% if project.overhead %}
                            <tr>
                                <td></td>
                                <td>Overhead</td>
                                <td></td>
                                <td></td>
                                <td class="text-end">{{"$%.2f"|format(project.overhead)}}</td>
                            </tr>
                            {% endif %}
                            {% if project.rent %}
                            <tr>
                                <td></td>
                                <td>Rent</td>
                                <td></td>
                                <td></td>
                                <td class="text-end">{{"$%.2f"|format(project.rent)}}</td>
                            </tr>
                            {% endif %}
                            {% if project.extrafees %}
                            <tr>
                                <td></td>
                                <td>Other</td>
                                <td></td>
                                <td></td>
                                <td class="text-end">{{"$%.2f"|format(project.extrafees)}}</td>
                            </tr>
                            {% endif %}
                            {% if project.packaging %}
                            <tr>
                                <td></td>
                                <td>Packaging</td>
                                <td></td>
                                <td></td>
                                <td class="text-end">{{"$%.2f"|format(project.packaging)}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th colspan="5" class="table table-success">Information</th>
                            </tr>
                        </tbody>
                        <tfoot class="table table-bordered">
                            <tr>
                                <td colspan="4" class="text-end">Cost Per Item</td>
                                <td class="text-end">{{"$%.2f" % subtotal}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end">Quantity</td>
                                <td class="text-end">{{project.threshold}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end">Subtotal</td>
                                <td class="text-end">{{"$%.2f" % (subtotal * project.threshold)}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end">Misc Fees</td>
                                <td class="text-end">{{"$%.2f" % misfees}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end">Tax</td>
                                <td class="text-end">$0.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end">Shipping - ({{project.shipping_rel.company}}:{{project.shipping_rel.service}})</td>
                                <td class="text-end">{{"$%.2f" % project.shipping_rel.cost}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end">Total</td>
                                <td class="text-end">{{"$%.2f" % totalcost}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_code %}
{% endblock %}

{% block action_items %}
<a class="dropdown-item" href="{{url_for('project.projectdetails', id=project.id)}}">
    <i class="bi bi-file-plus-fill me-2 text-gray-400"></i>
    &nbsp;Edit project
</a>
{% endblock %}