{% extends "app/base/base.html" %}

{% block title %}New Project{% endblock %}

{% block header %}
New Project
{% endblock %}

{% block content %}
<form method="POST">
    <div class="container-fluid">
        <div class="row mb-3">

            <!-- Customer Information Tab -->
            <div class="col">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Customer Info</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1 d-flex justify-content-start align-items-center">
                                <a href="{{url_for('customer.customer_new')}}">
                                    <i class="bi bi-person-plus-fill"></i>
                                </a>
                            </div>
                            <div class="col">
                                <label for="existing">Choose a customer</label>
                                <select name="existing" id="existing" class="form-select form-select-lg mb-3">
                                    <optgroup label="Current Customers">
                                        {% for customer in customers %}
                                        <option value="{{customer.id}}">{{customer.fname}} {{customer.lname}}</option>
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Returning Customers">
                                        {% for customer in pastcusts %}
                                        <option value="{{customer.id}}">{{customer.fname}} {{customer.lname}}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex justify-content-start align-items-center">
                                <a href="{{url_for('address.address_new')}}">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </a>
                            </div>
                            <div class="col">
                                <label for="mailing">Mailing Address</label>
                                <select name="mailing" id="mailing" class="form-select form-select-lg mb-3">
                                    {% for address in addresses %}
                                    <option value="{{address.id}}">{{address.type}} - {{address.fname}} {{address.lname}} ({{address.address}} {{address.city}}, {{address.state}} {{address.postalcode}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label for="shipping">Shipping Address</label>
                                <select name="shipping" id="shipping" class="form-select form-select-lg mb-3">
                                    {% for address in addresses %}
                                    <option value="{{address.id}}">{{address.type}} - {{address.fname}} {{address.lname}} ({{address.address}} {{address.city}}, {{address.state}} {{address.postalcode}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}