{% extends "app/base/base.html" %}

{% block title %}New Project{% endblock %}

{% block header %}New Project{% endblock %}

{% block content %}
<form method="POST" enctype=multipart/form-data> <div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3" id="CustInfo">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Customer Info</p>
                    </div>
                    <div class="card-body shadow">
                        <div>
                            <b>Customer:</b><br>
                            <select name="customer" id="customer" class="form form-select">
                                {% for customer in customers %}
                                <optgroup>Current Customers</optgroup>
                                <option value="{{customer.id}}">{{customer.lname}}, {{customer.fname}}</option>
                                <optgroup>Past Customers</optgroup>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div>
                            <b>Shipping Address:</b><br>
                            <select name="shipping" id="shipping" class="form form-select">
                                {% for ship in shipping %}
                                <option value="{{ship.id}}">{{ship.type}} - {{ship.fname}} {{ship.lname}}
                                    ({{ship.address}}
                                    {{ship.city}}, {{ship.state}} {{ship.postalcode}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-3" id="OrderInfo">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Order Info</p>
                    </div>
                    <div class="card-body shadow">
                        <div class="row">
                            <div class="col">
                                <b>Order Number:</b> <input type="text" class="form form-control"
                                    value="{{ordernumber}}"><br>
                                <b>Employee:</b> <select name="employee" id="employee" class="form form-select">
                                    {% for employee in employees %}
                                    <option value="{{employee.id}}">{{employee.lname}}, {{employee.fname}}</option>
                                    {% endfor %}
                                </select><br>
                            </div>
                            <div class="col">
                                <b>Date Created:</b> <input type="date" name="datecreated" id="datecreated"
                                    value="{{date}}" class="form form-control"><br>
                                <b>Time Created:</b> <input type="text" name="timecreated" id="timecreated"
                                    value="{{time}}" class="form form-control"><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card shadow mb-3" id="OrderDets">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Order Details</p>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-9">
                            <b>Project Name:</b><br>
                            <input type="text" class="form form-control" id="projectname" name="projectname" placeholder="Name of Project">
                        </div>
                        <div class="col-lg-3">
                            <b>Priority:</b><br>
                            <select class="form form-select" id="priority" name="priority">
                            {% for x in range(1,11) %}
                                <option value="{{x}}">{{x}}</option>
                            {% endfor %}    
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <table class="table table-striped" width="100%" id="orderdetails">
                                <thead>
                                    <tr>
                                        <th width="25%">Item</th>
                                        <th>Selection</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Printer</td>
                                        <td><select name="printer" id="printer" class="form form-select">
                                                {% for printer in printers %}
                                                <option value="{{printer.id}}">{{printer.name}}</option>
                                                {% endfor %}
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Filament</td>
                                        <td><select name="filamentfk" id="filamentfk" class="form form-select">
                                                {% for filament in filaments %}
                                                <option value="{{filament.id}}">{{filament.name}} - ({{filament.color}}
                                                    {{filament.type_rel.type}} {{filament.diameter}})</option>
                                                {% endfor %}
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Print Time - Cost of Electricity</td>
                                        <td><input type="text" class="form form-control" disabled
                                                placeholder="Automatically Calculated"></td>
                                    </tr>
                                    <tr>
                                        <td>Design</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Advertising</td>
                                        <td>
                                            <input type="number" min="0.01" max="99999.99" step=".01" class="form form-control" id="advertising" name="advertising">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rent</td>
                                        <td>
                                            <input type="number" min="0.01" max="99999.99" step=".01" class="form form-control" id="rent" name="rent">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Other</td>
                                        <td>
                                            <input type="number" min="0.01" max="99999.99" step=".01" class="form form-control" id="other" name="other">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Packaging</td>
                                        <td>
                                            <input type="number" min="0.01" max="99999.99" step=".01" class="form form-control" id="packaging" name="packaging">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shipping:</td>
                                        <td><select name="shippingcost" id="shippingcost" class="form form-select">
                                                {% for shipping in shippingcost %}
                                                <option value="{{shipping.id}}">{{shipping.company}} -
                                                    {{"$%.2f"|format(shipping.cost)}}
                                                </option>
                                                {% endfor %}
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Quantity to Print</td>
                                        <td>
                                            <input type="number" min="1" max="99999" step="1" class="form form-control" id="qty" name="qty">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="card mb-3" id="Order History">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Upload File</p>
                            </div>
                            <div class="card-body shadow">
                                <table class="table table-sm" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Select File</th>
                                            <th>Quantity in file</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="15%">File 1</td>
                                            <td width="30%"><input type="file" name="gcode1" id="gcode1"
                                                    class="form form-control-file"></td>
                                            <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                    name="qty1" id="qty1" class="form form-control"></td>
                                        </tr>
                                        <tr>
                                            <td width="15%">File2</td>
                                            <td width="30%"><input type="file" name="gcode2" id="gcode2"
                                                    class="form form-control-file"></td>
                                            <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                    name="qty2" id="qty2" class="form form-control"></td>
                                        </tr>
                                        <tr>
                                            <td width="15%">File3</td>
                                            <td width="30%"><input type="file" name="gcode3" id="gcode3"
                                                    class="form form-control-file"></td>
                                            <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                    name="qty3" id="qty3" class="form form-control"></td>
                                        </tr>
                                        <tr>
                                            <td width="15%">File4</td>
                                            <td width="30%"><input type="file" name="gcode4" id="gcode4"
                                                    class="form form-control-file"></td>
                                            <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                    name="qty4" id="qty4" class="form form-control"></td>
                                        </tr>
                                        <tr>
                                            <td width="15%">File5</td>
                                            <td width="30%"><input type="file" name="gcode5" id="gcode5"
                                                    class="form form-control-file"></td>
                                            <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                    name="qty5" id="qty5" class="form form-control"></td>
                                        </tr>
                                        <tr>
                                            <td width="15%">File6</td>
                                            <td width="30%"><input type="file" name="gcode6" id="gcode6"
                                                    class="form form-control-file"></td>
                                            <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                    name="qty6" id="qty6" class="form form-control"></td>
                                        </tr>
                                        <tr>
                                            <td width="15%">File7</td>
                                            <td width="30%"><input type="file" name="gcode7" id="gcode7"
                                                    class="form form-control-file"></td>
                                            <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                    name="qty7" id="qty7" class="form form-control"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <input type="submit" value="Submit" class="btn btn-success btn-lg">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}