alembic==1.8.1
beautifulsoup4==4.11.1
black==22.6.0
blinker==1.5
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
cycler==0.11.0
decorator==5.1.1
dnspython==2.2.1
email-validator==1.2.1
Flask==2.2.2
Flask-DebugToolbar==0.13.1
flask-googlemaps==0.4.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==1.0.1
fonttools==4.34.4
geographiclib==1.52
geopy==2.2.0
ghp-import==2.1.0
greenlet==1.1.2
html5lib==1.1
htmlmin==0.1.12
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
kiwisolver==1.4.4
lxml==4.9.1
Mako==1.2.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
mergedeep==1.3.4
mkdocs==1.3.1
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.3.0
mypy-extensions==0.4.3
mysqlclient==2.1.1
numpy==1.23.1
packaging==21.3
pathspec==0.9.0
Pillow==9.2.0
platformdirs==2.5.2
pyclean==2.2.0
Pygments==2.12.0
pymdown-extensions==9.5
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
tomli==2.0.1
typing_extensions==4.3.0
urllib3==1.26.11
validators==0.20.0
watchdog==2.1.9
webencodings==0.5.1
Werkzeug==2.2.2
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
zipp==3.8.1
