beautifulsoup4
black
email_validator
geopy
flask
flask_login
flask_mail
flask_migrate
flask_sqlalchemy
flask_uploads
flask_wtf
lxml
matplotlib
nameparser
pyclean
PyMySQL
python-dotenv
sqlalchemy
squareup
wtforms
wtforms_sqlalchemy