beautifulsoup4
black
email_validator
flask
flask_login
flask_mail
flask_migrate
flask_sqlalchemy
flask_uploads
flask_weasyprint
flask_wtf
lxml
matplotlib
pyclean
PyMySQL
python-dotenv
sqlalchemy
squareup
weasyprint
wtforms
wtforms_sqlalchemy
