{% extends "app/base/base.html" %}

{% block title %}New Time Calc{% endblock %}
{% block header %}New Time Calc{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <div class="row">
            <div class="col">
                <label for="file" class="form form-label">Select File</label>
                <select name="file" id="file" class="form form-select">
                    {% for file in files %}
                    <option value="{{file.id}}">{{file.file}} - {{file.h_printtime}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="actual" class="form form-label">Actual Time</label>
                <input type="text" name="actual" id="actual" class="form form-control" placeholder="h:m:s">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
{% endblock %}