{% extends "app/base/base.html" %}

{% block title %}New Inventory{% endblock %}
{% block header %}New Inventory{% endblock %}

{% block content %}
<div class="container-fluid">
    <span class="display-5"><b>INVENTORY ACCOUNT</b></span>
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card shadow mb-3" id="OrderDets">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Order Details</p>
                </div>
                <div class="card-body">
                    <form method="POST" enctype=multipart/form-data> <div class="row">
                        <table class="table table-striped" width="100%" id="orderdetails">
                            <thead>
                                <tr>
                                    <th width="15%">Item</th>
                                    <th>Selection</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Project Name</td>
                                    <td><input type="text" name="name" id="name" class="form form-control"></td>
                                </tr>
                                <tr>
                                    <td>Catagory</td>
                                    <td><input type='text' class="form form-control" name="catagory" id="catagory"
                                            list='catagories'>
                                        <datalist id='catagories'>
                                            {% for cat in catagory %}
                                            <option value="{{cat.catagory}}">{{cat.catagory}}</option>
                                            {% endfor %}
                                        </datalist>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Printer</td>
                                    <td>
                                        <select name="printer" id="printer" class="form form-select">
                                            {% for printer in printers %}
                                            <option value="{{printer.id}}">{{printer.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Filament</td>
                                    <td>
                                        <select name="filament" id="filament" class="form form-select">
                                            {% for filament in filaments %}
                                            <option value="{{filament.id}}">{{filament.type_rel.type}}
                                                {{filament.color}}-{{filament.diameter}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Design</td>
                                    <td>
                                        <input type="number" min="0" step=".01" max="9999" name="design" id="design"
                                            class="form form-control" value=0>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Advertising</td>
                                    <td>
                                        <input type="number" min="0" step=".01" max="9999" name="advertising"
                                            id="advertising" class="form form-control" value=0>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Overhead</td>
                                    <td>
                                        <input type="number" min="0" step=".01" max="9999" name="overhead" id="overhead"
                                            class="form form-control" value=0>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rent</td>
                                    <td>
                                        <input type="number" min="0" step=".01" max="9999" name="rent" id="rent"
                                            class="form form-control" value=0>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Other</td>
                                    <td>
                                        <input type="number" min="0" step=".01" max="9999" name="other" id="other"
                                            class="form form-control" value=0>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Packaging</td>
                                    <td>
                                        <input type="number" min="0" step=".01" max="9999" name="packaging"
                                            id="packaging" class="form form-control" value=0>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Recommended Sale Price</td>
                                    <td><input type="number" min="0" step=".01" max="9999"
                                            name="sale_price" id="sale_price" class="form form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Inventory Threshold</td>
                                    <td><input type="number" min="0" step="1" max="9999"
                                            name="threshold" id="threshold" class="form form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <table class="table table-sm" width="100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Select File</th>
                                                <th>Quantity in file</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="15%">File 1</td>
                                                <td width="30%"><input type="file" name="gcode1" id="gcode1"
                                                        class="form form-control-file"></td>
                                                <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                        name="qty1" id="qty1" class="form form-control"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">File2</td>
                                                <td width="30%"><input type="file" name="gcode2" id="gcode2"
                                                        class="form form-control-file"></td>
                                                <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                        name="qty2" id="qty2" class="form form-control"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">File3</td>
                                                <td width="30%"><input type="file" name="gcode3" id="gcode3"
                                                        class="form form-control-file"></td>
                                                <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                        name="qty3" id="qty3" class="form form-control"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">File4</td>
                                                <td width="30%"><input type="file" name="gcode4" id="gcode4"
                                                        class="form form-control-file"></td>
                                                <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                        name="qty4" id="qty4" class="form form-control"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">File5</td>
                                                <td width="30%"><input type="file" name="gcode5" id="gcode5"
                                                        class="form form-control-file"></td>
                                                <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                        name="qty5" id="qty5" class="form form-control"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">File6</td>
                                                <td width="30%"><input type="file" name="gcode6" id="gcode6"
                                                        class="form form-control-file"></td>
                                                <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                        name="qty6" id="qty6" class="form form-control"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">File7</td>
                                                <td width="30%"><input type="file" name="gcode7" id="gcode7"
                                                        class="form form-control-file"></td>
                                                <td width="55%"><input type="number" min="0" step=".01" max="9999"
                                                        name="qty7" id="qty7" class="form form-control"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tr>
                            </tbody>
                        </table>
                        <input type="submit" value="Submit" class="btn btn-success btn-lg" style="width: 30%;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}