{% extends "app/base/base.html" %}

{% block title %}Details for {{inventory.project_name}} {% endblock %}

{% block header %}
{{inventory.project_name|truncate(25, True, '...', 0)|upper}} - <span class="display-6">{{inventory.ordernum}}</span>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <span class="display-5"><b>{{inventory.customer_rel.fname|upper}} ACCOUNT </b></span>
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card shadow mb-3" id="OrderDets">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Order Details</p>
                </div>
                <div class="card-body">
                    <table class="table table-striped" width="100%" id="orderdetails">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <th colspan="5" class="table table-success">File {{loop.index}}</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>File</td>
                                <td>
                                    {{file["filename"]}} - <a href='{{ url_for("inventory.download", filename=file["filename"] ) }}'>Download</a><br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Printer</td>
                                <td>{{file["printer"]}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Filament</td>
                                <td>{{file["filament_type"]}} - {{file["filament_diameter"]}}</td>
                                <td>{{"%.1f"|format((file["weight_kg"] * 1000) / inventory.qtyperprint)}}g</td>
                                <td>{{"$%.2f"|format(file["filcost"] / inventory.qtyperprint)}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Print Time</td>
                                <td>Cost of Electricity</td>
                                <td>{{"%.2f"|format(file["print_time"] / inventory.qtyperprint)}} hours</td>
                                <td>{{"$%.2f"|format(file["timecost"] / inventory.qtyperprint)}}</td>
                            </tr>}
                            {% endfor %}
                            <tr>
                                <th colspan="5" class="table table-success">Misc Fees</th>
                            </tr>
                            {% if 1==2 %}
                            <tr>
                                <td></td>
                                <td>Design</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endif %}
                            {% if inventory.advertising %}
                            <tr>
                                <td></td>
                                <td>Advertising</td>
                                <td></td>
                                <td></td>
                                <td>{{"$%.2f"|format(inventory.advertising)}}</td>
                            </tr>
                            {% endif %}
                            {% if inventory.overhead %}
                            <tr>
                                <td></td>
                                <td>Overhead</td>
                                <td></td>
                                <td></td>
                                <td>{{"$%.2f"|format(inventory.overhead)}}</td>
                            </tr>
                            {% endif %}
                            {% if inventory.rent %}
                            <tr>
                                <td></td>
                                <td>Rent</td>
                                <td></td>
                                <td></td>
                                <td>{{"$%.2f"|format(inventory.rent)}}</td>
                            </tr>
                            {% endif %}
                            {% if inventory.extrafees %}
                            <tr>
                                <td></td>
                                <td>Other</td>
                                <td></td>
                                <td></td>
                                <td>{{"$%.2f"|format(inventory.extrafees)}}</td>
                            </tr>
                            {% endif %}
                            {% if inventory.packaging %}
                            <tr>
                                <td></td>
                                <td>Packaging</td>
                                <td></td>
                                <td></td>
                                <td>{{"$%.2f"|format(inventory.packaging)}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th colspan="5" class="table table-success">Information</th>
                            </tr>
                            <tr>
                                <td>Catagory</td>
                                <td>{{inventory.catagory}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Items per print:</td>
                                <td>{{inventory.qtyperprint}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot class="table table-bordered">
                            {% set ttl_cost = ((total_cost / inventory.qtyperprint)+miscost) %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-end">Total Cost</td>
                                <td>{{"$%.2f"|format(ttl_cost)}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-end">Recommended Sale Price</td>
                                <td>{{"$%.2f"|format(inventory.sale_price)}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-end">Profit</td>
                                <td>{{"$%.2f"|format(inventory.sale_price - ttl_cost)}}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-end">Profit Margin</td>
                                <td>{{"%.2f"|format(((inventory.sale_price - ttl_cost)/inventory.sale_price)*100)}}%
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="text-start">
                        {{inventory.time_created.strftime('%b %d, %Y')}}
                        {{inventory.time_created.strftime('%-I:%m %p')}} -
                        {{inventory.employee_rel.fname}} {{inventory.employee_rel.lname}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_code %}
<script>
    $(document).ready(function () {
        $('#orderdetails').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": true,
            "bAutoWidth": true,
            colReorder: false,
            responsive: true,
            searchable: false,
            columns: [{
                    orderable: true,
                },
                {
                    orderable: false,
                },
                {
                    orderable: false,
                },
                {
                    orderable: true,
                },
            ],
        });
    });
</script>
{% endblock %}

{% block action_items %}
<a class="dropdown-item" href="{{url_for('inventory.inventory_edit', id=inventory.id)}}">
    <i class="bi bi-file-plus-fill me-2 text-gray-400"></i>
    &nbsp;Edit Inventory
</a>
{% endblock %}