{% extends "app/base/base.html" %}
{% block title %}Inventory{% endblock %}
{% block header %}Inventory{% endblock %}
{% block content %}
<table id="inventory" class="table table-striped">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Sales Price</th>
            <th>Profit</th>
            <th>Margin</th>
        </tr>
    </thead>
    <tbody>
        {% for inv in inventory %}
        <tr>
            <td>
                <a href="{{url_for('inventory.inventory_details', id=inv.id)}}">
                    {{inv.project_name}}
                </a>
            </td>
            <td>{{inv.current_quantity}}</td>
            <td>{{"$%.2f"|format(inv.cost)}}</td>
            <td>{{"$%.2f"|format(inv.sale_price)}}</td>
            <td>{{"$%.2f"|format(inv.sale_price - inv.cost)}}</td>
            <td>{{"%.2f"|format(((inv.sale_price - inv.cost)/inv.sale_price)*100)}}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js_code %}
<script>
    $(document).ready(function () {
        $('#inventory').DataTable({
            "fixedHeader": true,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "colReorder": true,
            "responsive": true,
            "searchable": true,
        });
    });
</script>
{% endblock %}

{% block action_items %}
<a class="dropdown-item" href="{{url_for('inventory.inventory_new')}}">
    <i class="bi bi-file-plus-fill me-2 text-gray-400"></i>
    &nbsp;Add New Inventory
</a>
{% endblock %}