{% extends "filament/filament_submenu.html" %}
{% from "_utilities.html" import render_field, render_select, render_submit %}

{% block action_items %}
<!--class="dropdown-item"-->
<a href="{{ url_for('filament.filament_delete', id=filament.id) }}" class="dropdown-item">Delete {{form.name.data}} Filament</a>
{% endblock action_items %}
<!-- Main Content -->
{% block content %}
<h4 class="display-4 text-center">Filaments</h4>
<form method=POST enctype=multipart/form-data action="{{url_for('filament.filament_edit', id=filament.id)}}">
    {{ form.csrf_token }}
    <fieldset class="form-field row">
        <div class="col-md-8">
            {{ render_field(form.name) }}
        </div>
        <div class="col-md-4">
            {{ render_field(form.picture) }}
        </div>
        <div class="col-md-3">
            {{ render_field(form.color) }}
        </div>
        <div class="col-md-3">
            {{ render_select(form.typefk) }}
        </div>
        <div class="col-md-3">
            {{ render_select(form.diameter) }}
        </div>
        <div class="col-md-3">
            {{ render_select(form.length_spool) }}
        </div>
        <div class="col-md">
            {{ render_select(form.vendorfk) }}
        </div>
        <div class="col-md">
            {{ render_field(form.priceperroll) }}
        </div>
        <div class="col-md">
            {{ render_field(form.purchasedate) }}
        </div>
        <div class="col-md">
            {{ render_field(form.url) }}
        </div>
        <div class="row"></div>
        <div class="col-md-1">
            {{ render_submit(form.submit) }}
            {{ form.referer }}
        </div>
    </fieldset>
</form>
   
{% endblock %}