{% extends "filament/filament_submenu.html" %}
{% from "_utilities.html" import render_field, render_select %}


<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Page Menu Item go here -->
{% block extra_menu_items %}    <!--class="nav-link"-->
{% endblock extra_menu_items %}

<!-- Any Action items go here -->
{% block action_items %}  <!--class="dropdown-item"-->  
<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#new_fil_Modal">Add New Filament</a>
{% endblock action_items %}

<!-- Main Content -->
{% block content %}
<br>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% set count = namespace(value=0) %}
        {% for type in types %}
        {% if type.filament_rel|length >= 1 %}
        {% set count.value = count.value + 1 %}
        <button class="nav-link {% if count.value == 1 %}active{% endif %}" id="v-pills-{{type.type}}-tab"
            data-bs-toggle="pill" data-bs-target="#v-pills-{{type.type}}" type="button" role="tab"
            aria-controls="v-pills-{{type.type}}"
            aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}">{{type.type}}</button>
        {% endif%}
        {% endfor%}
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        {% set count1 = namespace(value=0) %}
        {% for type in types %}
        {% if type.filament_rel|length >= 1 %}
        {% set count1.value = count1.value + 1 %}
        <div class="tab-pane fade {% if count1.value == 1 %}show active{% endif %}" id="v-pills-{{type.type}}"
            role="tabpanel" aria-labelledby="v-pills-{{type.type}}-tab">
            <h2>{{type.type}}</h2>
            <table class="table table-bordered table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Diameter</th>
                        <th>Length</th>
                        <th>Cost</th>
                        <th>Date<span class="small">Purchased</span></th>
                        <th>URL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in fils %}
                    {% if item.typefk == type.id %}
                    <tr onclick="window.location='{{ url_for("filament.filament_edit", id=item.id) }}';">
                        {% if item.picture %}
                        {% set fn = '/images/' + item.picture %}
                        <td><img src="{{ url_for('static', filename=fn) }}" alt="" width="50px" height="50px"></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>{{item.name}}</td>
                        <td>{% if item.diameter == 1 %}1.75mm{% else %}3mm{% endif %}</td>
                        <td>
                            {% if item.length_spool == 1 %}200g
                            {% elif item.length_spool == 2 %}1KG
                            {% elif item.length_spool == 3 %}2KG
                            {% else %}Other
                            {% endif %}
                        </td>
                        <td>{{"$%.2f"|format(item.priceperroll)}}</td>
                        <td>{{item.purchasedate.strftime('%b %d, %Y')}}</td>
                        <td><a href="{{item.url}}" target="_blank"
                                rel="noopener noreferrer">{{item.url}}</a></td>
                        {% if item.colorhex != "" %}
                        <td style="background-color: {{item.colorhex}};"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor%}
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="new_fil_Modal" tabindex="-1" aria-labelledby="new_fil_ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_fil_ModalLabel">Add New Filament</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method=POST enctype=multipart/form-data action="{{url_for('filament.filament_main')}}">
                    {{ form.csrf_token }}
                    <fieldset class="form-field row">
                        <div class="col-md-12">
                            {{ render_field(form.name) }}
                        </div>
                        <div class="row"></div>
                        <div class="col-md-3">
                            {{ render_field(form.color) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_select(form.typefk) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_select(form.diameter) }}
                        </div>
                        <div class="col-md-3">
                            {{ render_select(form.length_spool) }}
                        </div>
                        <div class="row"></div>
                        <div class="col-md-4">
                            {{ render_select(form.vendorfk) }}
                        </div>
                        <div class="col-md-4">
                            {{ render_field(form.priceperroll) }}
                        </div>
                        <div class="col-md-4">
                            {{ render_field(form.purchasedate) }}
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6">
                            {{ render_field(form.url) }}
                        </div>
                        <div class="col-md-6">
                            {{ render_field(form.picture) }}
                        </div>
                        <div class="row"></div>
                        <div class="col-md-4">
                        </div>
                    </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input class="btn btn-primary" type="submit" value="Add Filament">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Scripts needed for this page -->
{% block scripts %}

<script>
    var formErrors = {
        %
        if form.errors %
    }
    true {
        %
        else %
    }
    false {
        %
        endif %
    };

    $(document).ready(function () {
        if (formErrors) {
            $('.modal').modal('show');
        }
    });
</script>
{% endblock %}