{% extends "types/type_submenu.html" %}
{% from "_utilities.html" import render_field, render_select, render_submit %}


<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Page Menu Item go here -->
{% block extra_menu_items %}
{% endblock extra_menu_items %}

<!-- Any Action items go here -->
{% block action_items %}
{% endblock action_items %}

<!-- Main Content -->
{% block content %}
<br>
<form method=POST enctype=multipart/form-data action="{{url_for('type.type_edit', id=type.id)}}">
    {{ form.csrf_token }}
    <fieldset class="form-field row">
        <div class="col-md-6">
            {{ render_field(form.type) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.properties) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.useage) }}
        </div>
        <div class="col-md-6">
            {{ render_select(form.diameter) }}
        </div>
        <div class="col-md-6">
            {{ render_select(form.extruder_temp_from) }}
        </div>
        <div class="col-md-6">
            {{ render_select(form.extruder_temp_to) }}
        </div>
        <div class="col-md-6">
            {{ render_select(form.bed_temp_from) }}
        </div>
        <div class="col-md-6">
            {{ render_select(form.bed_temp_to) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.bed_adhesion) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.densitygcm3) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.m_in_1kg_175) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.m_in_1kg_3) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.submit) }}
        </div>
    </fieldset>
</form>
{% endblock %}