<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Dudefish Printing</title>
    <meta name="description" content="Your one stop shop for 3d Printing Services">
    <link rel="stylesheet" href="{{url_for('static', filename='website/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename='website/css/styles.min.css')}}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container-fluid"><a class="navbar-brand" href="#page-top">Dudefish Printing</a><button
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse d-xl-flex justify-content-xl-center align-items-xl-center visible"
                id="navbarResponsive" title="Tools">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-start mx-0 mx-lg-1"><a class="nav-link active py-3 px-0 px-lg-3 rounded"
                            href="#testimonials" title="Testimonials"><strong>TESTIMONY</strong></a></li>
                    <li class="nav-item text-start mx-0 mx-lg-1"><a class="nav-link active py-3 px-0 px-lg-3 rounded"
                            href="#events" title="Events"><strong>EVENTS</strong></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item text-start mx-0 mx-lg-1"><a class="nav-link active py-3 px-0 px-lg-3 rounded"
                            href="#about" title="About"><strong>ABOUT</strong></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link active py-3 px-0 px-lg-3 rounded"
                            href="#contact">Contact</a></li>
                    <li class="nav-item dropdown visible" style="padding: 0;"><a class="nav-link" aria-expanded="false"
                            data-bs-toggle="dropdown" href="index.html"
                            style="padding: 16px;background: #1abc9b;margin: 0px;margin-left: 3px;border-radius: 4px;">Login&nbsp;</a>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item"
                                href="{{url_for('auth.sign_up')}}">Signup</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white bg-primary masthead">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5"
                src="{{url_for('static', filename='website/img/profile.png')}}" loading="auto">
            <h1>Dudefish Printing</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Your premier 3d printing and design company</h2>
        </div>
    </header>
    <section id="testimonials" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">What people are saying</h2>
            <hr class="star-dark mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8 text-center">
                    <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                        Here is what other people are saying about Dudefish Printing.
                    </p>
                </div>
            </div>

            <div class="row text-center">
                {% for test in testimony %}
                <div class="col-md-4 mb-5 mb-md-0">
                    <h5 class="mb-3 text-uppercase">{{test.name}}.</h5>
                    <p class="px-xl-3">
                        <i class="fas fa-quote-left pe-2"></i>
                        {{test.testimonial}}
                    </p>
                    <h6 class="text-primary mb-3">{{ test.date_created.strftime('%B %Y') }}</h6>
                    <!-- DONE: figure out the rating star system -->
                    <ul class="list-unstyled d-flex justify-content-center mb-0">
                        {% for _ in range(test.stars|int) %}
                        <li>
                            <i style="font-size:larger" class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        {% endfor %}
                        {% set decimal_part = (test.stars|string).split('.')[1] %}
                        {% if decimal_part == '5' %}
                        <li>
                            <i style="font-size:larger" class="fas fa-star-half-alt fa-sm text-warning"></i>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="events" class="text-white bg-primary">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">EVENTS</h2>
            <hr class="star-dark mb-5">
            <div style="margin:46px;">
                {% if events is defined and events[0] is defined %}
                {% for event in events %}
                <div class="row row-striped text-secondary">
                    <div class="col-2 text-center ">
                        <h1 class="display-4 text-primary">
                            <span class="badge bg-success">{{event.start_date.strftime('%d')}}</span></h1>
                        <h2>{{event.start_date.strftime('%b')}}</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>{{event.title}}</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                {{event.start_date.strftime('%A')}}
                            </li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                {{event.start_time.strftime('%I:%M %p')}} -
                                {{event.end_time.strftime('%I:%M %p')}}</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                                <a href="{{event.mapsurl}}" style="text-decoration:none;"
                                    class="text-primary">{{event.location}}</a></li>
                        </ul>
                        <p>{{event.description}}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h4 class="text-uppercase text-center text-secondary mb-0">
                    No events currently scheduled! Please check back soon!
                </h4>

                {% endif %}
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">About</h2>

        </div>
    </section>
    <section id="contact" class="text-white bg-primary">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">Contact Me</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form action="{{url_for('website.contactform')}}" method="post" id="contactForm" name="sentMessage"
                        novalidate="novalidate">
                        <div class="control-group">
                            <div class="mb-0 form-floating controls pb-2">
                                <input class="form-control" type="text" name="name" required="" placeholder="Name">
                                <label class="form-label">Name</label>
                                <small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="mb-0 form-floating controls pb-2">
                                <input class="form-control" type="email" name="email" required=""
                                    placeholder="Email Address">
                                <label class="form-label">Email Address</label>
                                <small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="mb-0 form-floating controls pb-2">
                                <input class="form-control" type="tel" name="phone" required=""
                                    placeholder="Phone Number">
                                <label class="form-label">Phone Number</label>
                                <small class="form-text text-danger help-block"></small>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="mb-5 form-floating controls pb-2">
                                <textarea class="form-control" name="message" required="" placeholder="Message"
                                    style="height: 150px;"></textarea>
                                <label class="form-label">Message</label>
                                <small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div id="success"></div>
                        <div><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p>2408 SW Oakwood Drive<br>Dallas, OR 97338</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Around the Web</h4>
                    <ul class="list-inline">
                        {% for social in socials %}
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button"
                                href="{{social.profileURL}}">
                                <i class="{{social.icon}}"></i>
                            </a>
                        </li> 
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                    <p class="lead mb-0"><span>Freelance is a free to use, open source Bootstrap theme.&nbsp;</span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center text-white copyright py-4">
        <div class="container"><small>Copyright ©&nbsp;Dudefish Printing 2022</small></div>
    </div>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="text-center d-block rounded text-white"
            href="#page-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <script src="{{url_for('static', filename='website/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='website/js/script.min.js')}}"></script>
</body>

</html>