{% extends "app/base/base.html" %}
{% block title %}Filaments{% endblock %}
{% block header %}FILAMENTS{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Filament</p>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="filament">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Color</th>
                            <th>Color Hex</th>
                            <th>Price Per Roll</th>
                            <th>Length of Spool (g)</th>
                            <th>Diameter</th>
                            <th>Purchase Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for filament in filaments %}
                        <tr>
                            <td>{{filament.type_rel.type}}</td>
                            <td>{{filament.color}}</td>
                            <td style="background-color: {{filament.colorhex}}; color: rgba(0, 0, 0, 0);";>{{filament.colorhex}}</td>
                            <td>{{"$%.2f"%filament.priceperroll}}</td>
                            <td>{{filament.length_spool}}</td>
                            <td>{{filament.diameter}}</td>
                            <td>{{filament.purchasedate}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_code %}
<script>
    $(document).ready(function () {
        $('#filament').DataTable({
            "fixedHeader": true,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "colReorder": true,
            "responsive": true,
            "searchable": true,
        });
    });
</script>
{% endblock %}

{% block action_items %}
<a class="dropdown-item" href="{{url_for('filament.filament_new')}}">
    <i class="fa-solid fa-file-circle-plus me-2 text-gray-400"></i>
    &nbsp;Add New Filament
</a>
{% endblock %}