{% extends "app/base/base.html" %}
{% block title %}Customers{% endblock %}
{% block header %}
CUSTOMERS
{% endblock %}
{% block content %}
<table class="table table-striped" id="customers">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City, State</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{customer.fname}}</td>
            <td>{{customer.lname}}</td>
            <td>{{customer.mainaddress_rel.city}}, {{customer.mainaddress_rel.state}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block js_code %}
<script>
    $(document).ready(function () {
        $('#customers').DataTable({
            "fixedHeader": true,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "colReorder": true,
            "responsive": true,
            "searchable": true,
        });
    });
</script>
{% endblock %}