{% extends "app/base/base.html" %}

{% block header %}{{customer.fname|upper}} {{customer.lname|upper}} DETAILS{% endblock %}

{% block title %}{{customer.fname}} {{customer.lname}} Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">User Settings</p>
                </div>
                <div class="card-body mb-3">
                    Markup Factor: {{customer.markup_factor * 100}}%<br>
                    Dicount Factor: {{customer.discount_factor * 100}}%<br>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">User Settings</p>
                        </div>
                        <div class="card-body">
                            Name: {{customer.fname}} {{customer.lname}}<br>
                            Phone: <a style="text-decoration: none !important;"
                                href="tel:{{customer.phone}}">{{customer.phone}}</a><br>
                            Email: <a style="text-decoration: none !important;"
                                href="mailto:{{customer.email}}">{{customer.email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Addresses</p>
                    </div>
                    <div class="card-body mb-3">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-primary m-0 fw-bold">Main Address</p>
                                <div>
                                    {{googlemap("defaultmap", lat=customer.mainaddress_rel.latitudes, lng=customer.mainaddress_rel.longitude, markers=[(customer.mainaddress_rel.latitudes,customer.mainaddress_rel.longitude)], zoom="18")}}
                                </div>
                                {{customer.mainaddress_rel.address}} <br>
                                {{customer.mainaddress_rel.city}}, {{customer.mainaddress_rel.state}}
                                {{customer.mainaddress_rel.postalcode}}
                            </div>
                            <div class="col-6">
                                <p class="text-primary m-0 fw-bold">Shipping Address</p>
                                <div>
                                    {{googlemap("shipmap", lat=customer.shippingaddress_rel.latitudes, lng=customer.shippingaddress_rel.longitude, markers=[(customer.shippingaddress_rel.latitudes, customer.shippingaddress_rel.longitude)], zoom="18")}}
                                </div>
                                {{customer.shippingaddress_rel.address}} <br>
                                {{customer.shippingaddress_rel.city}}, {{customer.shippingaddress_rel.state}}
                                {{customer.shippingaddress_rel.postalcode}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="addresses">
                                    <thead>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                    </thead>
                                    <tbody>
                                        {% for address in addresses %}
                                            <tr>
                                                <td>{{address.type}}</td>
                                                <td>{{address.fname}} {{address.lname}}</td>
                                                <td>{{address.address}} {{address.city}}, {{address.state}} {{address.postalcode}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Order History</p>
        </div>
        <div class="card-body mb-3">
            <table id="history" class="table table-striped">
                <thead>
                    <tr>
                        <th>Order<br>Num</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hist in history %}
                    <tr>
                        <td style="width:50%">{{hist.ordernum}}</td>
                        <td>{{hist.project_name}} <br> <span
                                class="small">{{hist.time_created.strftime('%m-%d-%y')}}</span>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
{% block js_code %}
<script>
    $(document).ready(function () {
        $('#history').DataTable({
            "fixedHeader": false,
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": true,
            "colReorder": false,
            "responsive": true,
            "searchable": true,
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#addresses').DataTable({
            "fixedHeader": false,
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true,
            "colReorder": true,
            "responsive": true,
            "searchable": true,
        });
    });
</script>
{% endblock %}